.right-col {
  h3 {
    font-size: 2.1rem;
    font-weight: 400;
  }
}

.price-frame {
  margin-top: 16px;
  display: flex;
  column-gap: 14px;
  align-items: center;
  .real-price {
    font-size: 2.6rem;
    font-weight: 700;
    color: $color-primary;
  }
  .ori-price {
    font-size: 1.6rem;
    text-decoration: line-through;
  }
  .decrease-percent {
    background-color: $color-primary;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
  }
}

.description {
  margin-top: 16px;
  @include clampText(3);
}

.number-order {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 16px;
  span {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .input-frame {
    border: 1px solid #999;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigate-number {
      color: $color-dark-gray;
      font-size: 2.4rem;
      font-weight: bold;
      padding: 6px 12px;
      background-color: transparent;
      cursor: pointer;
    }
    .number-input {
      font-size: 1.8rem;
      font-weight: bold;
      appearance: none;
      width: 50px;
      text-align: center;
      line-height: 3.2rem;
    }
  }
}
