.history-search {
    .head {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.8rem;
        column-gap: 8px;

        .delete-all {
            color: red;
            font-weight: normal;
            font-size: 1.4rem;
            margin-left: auto;
            cursor: pointer;
        }
    }

    .body {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 12px;
    }
}