.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid rgba($color-gray, 0.4);
  padding: 2px;
  border-radius: 8px;
  position: relative;

  .btn-search {
    background-color: $color-primary;
    border-radius: 8px;
    padding: 6px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .option {
    position: absolute;
    background-color: #fff;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: max-content;
    box-shadow: 0 2px 4px #30303065;
    border-radius: 6px;
    z-index: 10;
    padding: 15px;
  }
}
