$type-scroll: mandatory;
$align-scroll: start;

.list-div {
  display: flex;
  column-gap: 40px;
  overflow-x: auto;
  scrollbar-width: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.scroll-effect {
  scroll-snap-type: x $type-scroll;
}
.slide-to-view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .icon-navigate {
    cursor: pointer;
    @include userSelect(none);
  }
  .left-icon {
    text-decoration: none;
  }
  .right-icon {
    text-decoration: none;
  }
}
