@import '~/public/styles/base.scss';
.navigation-footer {
  width: 200px;
  .title {
    // color: $color-white;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    @include Responsive('pc') {
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
