.popup {
  position: fixed;
  top: $height-header;
  height: calc(100vh - $height-header);
  background-color: #fff;
  z-index: 100;
  left: 0;
  right: 0;

  transform: translateX(120%);

  &.active {
    transform: translateX(0);
  }
}
