.hr {
  width: 96%;
  height: 1px;
  background-color: $color-gray;
  opacity: 0.4;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.description-detail {
  font-family: arial;

  &.clampText {
    @include clampText (20);
  }
}