.item-shop {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;


  .percent-discount {
    background-color: #ffa023;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: 10px;
    font-weight: bold;
    font-size: 1.6rem;
  }

  //   align-items: center;
  .img {
    height: 150px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      max-height: 100%;
    }
  }

  .name {
    margin-top: 16px;
    font-size: 1.4rem;
    height: 4.4rem;
    @include clampText(2);
    color: black;
  }

  .sell-price {
    color: $color-primary;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 8px;
  }

  .original-price {
    color: $color-gray;
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .quantity-sold {
    width: 100%;
    padding: 2px;
    background-color: #{$color-primary}66;
    color: #fff;
    text-align: center;
    border-radius: 100rem;
    // opacity: 0.4;
    margin-top: 12px;
    position: relative;
    overflow: hidden;

    .sold-percent {
      background-color: $color-primary;
      height: 100%;
      width: 0%;
      position: absolute;
      border-radius: 100rem;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0.6;
    }

    p {
      position: relative;
      z-index: 1;
      opacity: 1;
    }
  }
}