.header {
  padding: 10px 0;
  margin-bottom: 24px;
  z-index: 4;
  background-color: #fff;
  // box-shadow: 0 2px 16px 0 #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  height: $height-header;
  position: sticky;
  &-container {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
  }

  &-center {
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex: 1;
  }

  &-right {
    display: flex;
    column-gap: 18px;
  }

  .open-modal-mb {
    @include Responsive('pc') {
      display: none;
    }
  }
}
