@import '~/public/styles/base.scss';

.footer {
  background-color: white;
  margin-top: 60px;
  color: black;
  padding-top: 24px;
  padding-bottom: 24px;
  .main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 24px;
  }
  .about-web {
    display: flex;
    flex-direction: column;
    width: 40%;
    .des {
      font-size: 1.6rem;
    }
  }
  .navigate-col {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .hr {
    width: 80%;
    height: 1px;
    background-color: $color-gray;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 0.4;
  }
}

.social {
  margin-top: 16px;
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
}
