.item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  text-decoration: none;
  &:hover {
    .name {
      color: $color-primary;
    }
  }
  .img {
    width: 100px;
  }
  .name {
    color: $color-dark-gray;
    font-size: 1.6rem;
    text-align: center;
  }
}
