.light-box-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  &.show {
    display: flex;
  }
  .img-show {
    object-fit: contain;
    -o-object-fit: contain;
    transition: 0.4s;
    user-select: none;
    // transform-origin: bottom left;
  }
  .arrow {
    $size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-light-gray;
    border-radius: 100rem;
    height: $size;
    width: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
      user-select: none;
    }
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }
}
