.category-open {
  cursor: pointer;
  position: relative;
  &:hover {
    .category-popup {
      display: flex;
    }
  }
  .category-popup {
    position: absolute;
    top: calc(100% + 20px);
    left: -20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(51, 51, 51, 0.4);
    border-radius: 12px;
    display: none;
    flex-direction: column;
    width: max-content;
    .list-item {
      display: flex;
      flex-direction: column;
      max-height: 60vh;
      overflow: auto;
      width: 100%;
      min-width: max-content;
      padding: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .title {
      //   text-transform: uppercase;
      font-size: 2.4rem;
      color: $color-gray;
      padding: 16px;
      padding-bottom: 0;
    }
    .category-item {
      margin-top: 4px;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 10px;
      margin-left: -6px;
      margin-right: -6px;
      border-radius: 6px;
      text-decoration: none;
      color: $color-black;
      &:hover {
        background-color: $color-light-gray;
      }
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      top: -20px;
      height: 20px;
    }
  }
}
