.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 6px;
  align-items: center;

  .item {
    text-decoration: none;
    color: $color-black;
    font-size: 1.6rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .symbol {
    color: $color-gray;
    font-size: 1.2rem;
  }
}