.keyword-item {
  $color: #fa8220;
  border: 1px solid $color;
  color: $color;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  &.active,
  &:hover {
    background-color: $color;
    color: #fff;
  }
  .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
