$color-black: #232323;
$color-white: #fff;
$color-dark-blue: #1f2937;
$color-dark-purple: #3a1097;
$color-sky: #00d1ed;
$color-purple: #6e33f1;
$color-dark-gray: #6c6c6c;
$color-light-gray: #e6e6e6;
$color-red: #f05154;

$PC-width: 1024px;
$mobile-width: 650px;

$z-index-modal: 100;

$font: 'Roboto', sans-serif;

$color-primary: #f36e24;
$color-gray: #7a7e7f;

$height-header: 95px;
