@import '../fonts/fonts.css';
@import './base.scss';

* {
  outline: none;
  margin: 0;
  transition: background-color 0.4s;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  font-size: 10px;
  color: $color-black;
  font-family: 'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  scroll-behavior: smooth;
  behavior: smooth;
  -webkit-text-size-adjust: 100%;
  tab-size: 4; //use: &#0009;
}

body {
  position: relative;
  background-color: #f0f0f0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(35, 35, 35);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: $PC-width) {
    overflow-x: hidden;
  }
}

// #__next {
//   @media screen and (min-width: $PC-width) {
//     min-width: 1024px;
//   }

//   @media screen and (max-width: $PC-width) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     // overflow-x: hidden;
//     width: 100vw !important;
//   }
// }

img,
video {
  max-width: 100%;
  height: auto;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}

.slick-dots.slick-thumb {
  // background-color: red;
  width: max-content;
  /* height: 50px; */
  height: max-content;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  li {
    &.slick-active {
      button {
        &::before {
          background-color: #fff;
          color: $color-primary;
          opacity: 1;
          width: 25px;
          border-radius: 6px;
          border: 1px solid $color-primary;
          height: 7px;
        }
      }
    }
    button {
      &::before {
        color: white;
        background-color: #fff;
        opacity: 1;
        width: 9px;
        height: 8px;
        font-size: 8px;
        content: '' !important;
        top: 50%;
        transform: translateY(-55%);
        border-radius: 100rem;
        transition: 0.4s;
        border: 1px solid $color-primary;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@import './post/outside.scss';
