.title {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 2.2rem;
}

.list-item {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  @include Responsive('tablet') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include Responsive('mobile') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      @media screen and (max-width: 420px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}
