.image {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        cursor: pointer;
        border: 1px solid $color-red;

        img {
            transform: scale(1.2);
        }
    }

    img {
        object-fit: cover;
        object-position: center;
        transition: .4s;
    }

    .other-img {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: #fff;
            font-size: 24px;
        }
    }
}