.scroll-to-top {
  background-color: $color-primary;
  padding: 8px;
  position: fixed;
  bottom: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  // border-radius: 100rem;
  border-radius: 12px;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
