.list-image {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.images {
  display: flex;
  column-gap: 16px;
  border-radius: 12px;
}

.main-image {
  overflow: hidden;
  width: calc(75px * 5 + 12px * 4);
  height: calc(75px * 5 + 12px * 4);
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }
}

.button {
  margin-top: 24px;
  display: flex;
  column-gap: 12px;
}
