.banner {
  width: 100%;
  aspect-ratio: 7/3;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .description {
    background: linear-gradient(to bottom, transparent, rgba(51, 51, 51, 0.6));
    position: absolute;
    bottom: 0;
    height: 40%;
    padding: 20px;
    left: 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .title-banner {
      font-size: 2.4rem;
    }
    .des-banner {
      font-size: 1.4rem;
      opacity: 0.8;
    }
    @include Responsive('mobile') {
      height: 80%;
      padding: 14px;
      .title-banner {
        font-size: 1.8rem;
      }
      .des-banner {
        font-size: 1.2rem;
      }
    }
  }
  @include Responsive('mobile') {
    aspect-ratio: 7/4;
  }
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  @include Responsive('mobile') {
    width: calc(100% - 25px);
  }
}

.arrow {
  background-color: #fff;
  width: max-content;
  box-shadow: 2px 2px 6px rgba(51, 51, 51, 0.4);
  padding: 6px;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: translateY(-50%) scale(1.5);
  }
  @include Responsive('tablet') {
    &:hover {
      transform: translateY(-50%) scale(1);
    }
  }
}
