.keyword {
  background-color: #f2f4f5;
  // background-color: rgb(184, 184, 184);
  border-radius: 6px;
  padding: 6px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 6px;
  border: 1px solid rgba(90, 90, 90, 0.5);

  .link {
    color: #333;
    text-decoration: none;
  }
}

.remove {
  color: rgb(221, 28, 28);
  cursor: pointer;
  user-select: none;
}
